// @font-face {
  // font-family: Zpix;
  // src: url("Zpix.ttf");
// }

* {
  // word-break: break-all;
  word-wrap: break-word;
}

body {
  font-size: 16px;
  background-color: #ddd;
}

// Georgia
h1, h2, h3, h4, h5, h6, body {
  // font-family: Zpix;
  // font-family: Georgia, serif;
}

::selection {
  background: #222;
  color: #fff;
}

ul {
  padding-left: 30px;
}

.tags-list{
  li {
    line-height: 1.7em;
  }
  a {
    text-decoration: underline;
  }
}

/*
a {
  color: #222;
  &:hover, &:focus, &:visited {
    color: #222;
  }
}
*/

a {
  text-decoration:none;
  color: #2288bb;
  &:hover {
    text-decoration:underline;
    color: #33aaff;
  }
  &:visited {
    text-decoration:none;
    color: #2288bb;
  }
}

.excerpt {
  a {
    text-decoration: underline;
  }
}

#markdown-toc {
  display: none;
}

img, video {
  border: 2px solid #dfe0e0;
  border-radius: 4px;
  max-width: 100%;
  cursor: pointer;
}

section {
  .post {
    word-wrap: break-word;
    .item {
      font-size: 15px;
      margin-right: 5px;
      .label.label-black {
        padding: .3em .4em;
        background-color: #222;
        margin-right: 3px;
        a {
          color: #fff;
        }
      }
    }
    ul {
      padding-left: 2em;
      li {
        line-height: 1.7em;
      }
    }
    .month {
      margin-left: 15px;
    }    
    
  }
}
.post-content {
  a {
    text-decoration: underline;
  }
}
.relate-post {
  text-decoration: underline;
}
footer {
  background-color: #fff;
  padding: 10px 0;
  a {
    text-decoration: none;
  }
  .contact {
    a {
      font-size: 18px;
    }
  }
}

.navbar {
  small {
    width: 100%;
  }
}

.panel.panel-default {
  .table {
    tr {
      td {
        padding: 8px 15px;
      }
    }
  }
}

.table-of-content {
  padding-left: 15px;
  line-height: 1.7em;
  margin-bottom: 0;
  ul {
    padding-left: 15px;
  }
}

.paginate {
  font-size: 16px;
}

// #site_search {
//   padding: 5px;
// }

.back-to-top {
  position: fixed;
  left: 50%;
  margin-left: 580px;
  bottom: 37px;
  visibility: hidden;
  opacity: 0;
  // transition: 0.4s ease;
  // box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
  a {
    display: block;
    background-color: #333;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    color: #fff;
  }
}

.back-to-top-show {
  visibility: visible;
  opacity: 0.7;
  &:hover {
    opacity: 1
  }
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
  .back-to-top {
    left: 50%;
    margin-left: 45.5%;
  }
}

@media screen and (max-width: 770px) {
  .back-to-top {
    right: 2.5%;
    left: auto;
    margin-left: 0;
    a {
      width: 33px;
      height: 33px;
      line-height: 33px;
      text-align: center;
      font-size: 18px;
    }
  }
}

.comment {
    background-color: transparent;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    color: black;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
}

.comment .comment-header {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: black;
    background-image: -webkit-linear-gradient(#f5f5f5,#f5f5f5);
    background-image: -moz-linear-gradient(#f5f5f5,#f5f5f5);
    color: black;
    display: block;
    float: left;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 33px;
    line-height: 33px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px;
    text-overflow: ellipsis;
    text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
    white-space: nowrap;
    width: 100%;
}

.comment .comment-header .comment-avatar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: none;
    background-origin: padding-box;
    border-color: #C8C8C8;
    border-style: solid;
    border-width: 1px;
    color: black;
    display: inline-block;
    float: none;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 1px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 24px;
    line-height: 1px;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: -2px;
    overflow-x: visible;
    overflow-y: visible;
    padding: 1px;
    text-overflow: clip;
    text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 24px;
}

.comment .comment-header .comment-user {
    background-color: transparent;
    display: inline;
    float: none;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 0px;
    line-height: 16px;
    margin-left: 5px;
    margin-right: 10px;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0px;
    text-overflow: clip;
    text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
    white-space: nowrap;
    width: 0px;
}
.comment .comment-header .comment-date {
    background-color: transparent;
    color: #777;
    display: inline;
    float: none;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 0px;
    line-height: 33px;
    margin: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0px;
    text-overflow: clip;
    text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
    white-space: nowrap;
    width: 20em;
}

.comment .comment-body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    color: #333;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 40px;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0em;
    position: static;
    width: 96%;
    word-wrap: break-word;
}
.comment .comment-body p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
}