---
layout: default
---
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">
        <h2>{{ page.title }}</h2>
        <small>
          <span class="item">
            <i class="fa fa-calendar-check-o"></i> {{page.date | date: '%F'}}
          </span>
          {% if page.author %}
          <span class="item" style="display: none;">
            <i class="fa fa-user"></i> {{page.author}}
          </span>
          {% endif %}
          {% if page.categories %}
          {% include categories.html %}
          {% endif %}
          {% if page.tags %}
          {% include tags.html %}
          {% endif %}
        </small>
        <hr>
        <div class="post-content">
          {{ page.content }}
          <p>
            原文链接：<a href="{{ page.url | prepend: site.url }}">{{ page.url | prepend: site.url }}</a>
          </p>
        </div>
        <div class="prev-next">
          {% if page.previous.url %}
          <p>
            上一篇: <a href="{{page.previous.url}}">{{page.previous.title}}</a>
          </p>
          {% endif %}
          {% if page.next.url %}
          <p>
            下一篇: <a href="{{page.next.url}}">{{page.next.title}}</a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% include comments.html %}
  </div>
  <div class="col-md-3 hidden-sm hidden-xs" style="display: none;">
    <div class="post-right">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-list-ul"></i> 文章目录</div>
        <div class="panel-body toc">
        </div>
      </div>
    </div>
  </div>
</div>